{% load static %}
<html>
<head>
<title>Online Fraud Payment Detection</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t1.value.length==0)
	{
	alert("Please upload test dataset");
	formObj.t1.focus();
	return false;
	}
	return true;
	}

	</script>
</head>
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Online Fraud Payment Detection using Balanced ML Algorithms</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
         <ul>      
		  <li><a href="{% url 'LoadDataset' %}"><font size="3" color="black">Load & Processed Dataset</a></li>
		  <li><a href="{% url 'BalancedData' %}"><font size="3" color="black">Balanced Data </a></li>
		  <li><a href="{% url 'TrainML' %}"><font size="3" color="black">Train ML Models</a></li>
		  <li><a href="{% url 'Predict' %}"><font size="3" color="black">Detect Fraud</a></li>
		  <li><a href="{% url 'RealtimePredict' %}"><font size="3" color="black">Real-Time Detection</font></a></li>
          <li><a href="{% url 'index' %}"><font size="3" color="black">Logout</a></li>
   </ul>      
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="1010" height="200" alt="" /></div>
      				<center>
<form name="f1" method="post" action={% url 'PredictAction' %} enctype="multipart/form-data" onsubmit="return validate(this);">
{% csrf_token %}<br/>
   <h2><b>Fraud Detection from Test Data Screen</b></h2>
   
	<font size="" color="red"><center>{{ data }}</center></font>
						
						<table align="center" width="30%" >
			 <tr><td><font size="3" color="black">Upload&nbsp;Test&nbsp;Data</td><td><input type="file" name="t1" size="30"/></td></tr>


			<tr><td></td><td><input type="submit" value="Submit"></td>
			</table>
				</div>	
					
				</div>
				
					
	</body>
</html>